body{
    padding: 0;
    margin: 0;
    color: light-dark(#333b3c, #efefec);
    background-color: light-dark(#efedea, #223a2c);
    height: 100vh;
    text-align: center;
}
.light{
    color-scheme: light;
}
.dark{
    color-scheme: dark;
}
img{
    width: 10%;
    background-color: white;
    height: 10%;
}
#toggle-btn{
    padding: 0;
    margin: 0;
    border: none;
    background-color: #efedea;
}
#details{
}